extends ../layout

block body

	div.row: div.col-md-12
		p.lead You can find your latest ranking by looking up your user ID in the tables below. Winners in each table will be awarded with a #[strong £20 Amazon voucher], along with a random raffle winner!

		- date = new Date(parseInt(updated)).toISOString().split('.')[0].replace('T', ' ')
		p Rankings will be updated at least once a day. #[strong Last updated: #{date} GMT.]

		p Note: you can find your user ID by opening the scanning app, opening the menu, and tapping "Display User ID".

	div.row
		div.col-md-6
			table#table-1.table.table-striped.table-hover
				thead
					tr: th Biggest Volume of Data
				tbody
					each scores, userId in users
						tr: td(data-order = scores.volume)
							span(style = 'font-family: monospace;')= userId
							| &nbsp;&nbsp;&nbsp;&nbsp;
							span.text-muted= scores.volume.toLocaleString()

		div.col-md-6
			table#table-2.table.table-striped.table-hover
				thead
					tr: th Most Unique Data Points
				tbody
					each scores, userId in users
						tr: td(data-order = scores.unique)
							span(style = 'font-family: monospace;')= userId
							| &nbsp;&nbsp;&nbsp;&nbsp;
							span.text-muted= scores.unique.toLocaleString()

block scripts

	script.
		$(document).ready(function () {
			$('#table-1').DataTable({
				paging: false,
				info: false,
				searching: false,
				order: [[0, 'desc']]
			});

			$('#table-2').DataTable({
				paging: false,
				info: false,
				searching: false,
				order: [[0, 'desc']]
			});
		});